@media (max-width: 1100px) {
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #details{
        grid-column: 1;
    }
    #image{
        overflow: visible;
    }
    #bottom{
        margin-top: 10px;
        flex-direction: row;
    }
}